*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body{

    background-color: greenyellow;
}




.searchbar{
display: inline-block;
height: 32px;
width: 350px;
border:2px solid rgb(118, 124, 212);
border-radius: 18px;
display: flex;
margin: 0 auto;
align-items: center;
text-align: center;
justify-content: center;
margin-top: 90px;
}

.forecast{

display: inline-block;
display: flex;
text-align: center;
margin: 0 auto;
justify-content: center;
color: blue;
/* height: 80px; */
margin-top: 60px;
margin-bottom: 20px;

}

/* @keyframes moveLeftToRight{


    0%{
        transform: translateX(-50%);
        opacity: 0;
    }
    100%{
        transform: translateX(50%);
        opacity: 1;

    }
    
}
.forecast{

    animation: moveLeftToRight 30s ease-in-out ;
} */

.city {

    display: inline-block;
    display: flex;
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    justify-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.temp {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    /* font-style: italic; */
    font-size: 40px;
    display: inline-block;
    display: flex;
    color: darkmagenta;
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin-bottom: 50px;
}


.detail{
 /* width: 960px; */
 /* height: 50px; */
 display: inline-block;
display: flex;
text-align: center;
justify-content: space-around;
gap: 10px;
/* border: 3px solid gray; */
width: 100%;
line-height: 30px;

}


.country {
    float:left;
    background-color: aquamarine;
    width: 250px;
    height: 150px;
    font-size: xx-large;
    }
.wind {
    float:left;
    background-color: aquamarine;
    width: 250px;
    height: 150px;
    font-size: xx-large;

    }
    .humidity {
    float:left;
    background-color: aquamarine;
    width: 250px;
    height: 150px;
    font-size: xx-large;
    justify-content: center;
    /* align-items: center; */
    text-align: center;

    }